<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Manage Courses</title>
  <link rel="stylesheet" href="/css/styles2.css" />
  <script src="/js/script.js"></script>
</head>
<body>
    <header class="navbar">
        <button class="back-button" onclick="goBack()">Back</button>
        <input type="color" id="backgroundColorPicker">
    </header>  
  <h1>Manage Your Courses</h1>
  <input type="text" id="course-name" placeholder="Course Name" />
  <input type="color" id="course-color" />
  <button id="add-course">Add / Update Course</button>
  <ul id="course-list"></ul>

  <script src="/js/courseManager.js"></script>
</body>
</html>
