<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mote</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link href="/css/styles2.css" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>

<body>
    <header class="navbar">
        <button class="back-button" onclick="goBack()">Back</button>
        <span id="routeDisplay">/index</span>
        <label for="backgroundColorPicker">Background:</label>
        <input type="color" id="backgroundColorPicker">
    </header>

    <header>
        <h1>Mote</h1>
    </header>
    <main>
        <h2 id="month-year">

        </h2>
        <div>
            <label for="baby-calender">Date</label>
            <!-- Unsure about the date range -->
            <input type="month" name="" id="baby-calender" onchange="handleChange(event)" min="2024-01" max="2026-12">

        </div>
        <div id="calendar-wrapper">
            <div id="calendar-area">
                <table>
                    <thead>
                        <tr id="days">
                            <th>Sun</th>
                            <th>Mon</th>
                            <th>Tue</th>
                            <th>Wed</th>
                            <th>Thur</th>
                            <th>Fri</th>
                            <th>Sat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                            <td>
                                <p></p>
                                <button>...</button>
                                <div class="task-container"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div id="course-form">
                <h4>Manage Courses</h4>
                <input type="text" id="course-name" placeholder="Course Name" />
                <input type="color" id="course-color" />
                <button id="add-course">Add / Update Course</button>
                <ul id="course-list"></ul>
                <script src="/js/courseManager.js"></script>
            </div>
        </div>

        <!-- Notification modal -->
        <div id="notifcation-modal">
            <div class="modal-bg" onclick="exitNotifications()"></div>

            <div class="modal-box">
                <button class="modal-exit-btn" onclick="exitNotifications()">x</button>

                <h2>Due Soon:</h2>
                <div id="notif-box"></div>
            </div>


        </div>

        <!-- Pop-up Modal -->
        <div id="eventModal">
            <div id="modalHeader">
                <span>Add to Calendar</span>
                <span onclick="closeModal()" class="close-btn">✖</span>
            </div>
            <div class="modal-content">
                <label for="eventInput">Event:</label>
                <input type="text" id="eventInput">

                <label for="task-course">Course:</label>
                <select id="task-course"></select>

                <button onclick="saveEvent()" style="margin-top: 1rem;">Save</button>

                <!-- Task List -->
                <h3>Tasks:</h3>
                <ul id="taskList"></ul>
            </div>
        </div>

    </main>
</body>

</html>